* {
  box-sizing: border-box;
}

/* I'm totally stealing this */
body {
  --body-width: calc(100vw - 36px);
}
@media (min-width: 550px) {
  body {
    --body-width: calc(330px + 33vw);
  }
}
@media (min-width: 1000px) {
  body {
    --body-width: 660px;
  }
}

html, body {
  padding: 0;
  margin: 0;
}
html {
  background-color: hsl(60,10%,95%);
  color: hsl(60,0%,0%);
  font-family: sans-serif;
}
body > div, body > p, h1, h2, svg {
  max-width: var(--body-width);
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
header, footer {
  background-color: hsl(60,20%,80%);
  padding: 0.5em;
}
footer {
  min-height: 3em;
  text-align: center;
}
svg {
  overflow: visible;
  width: var(--body-width);
  height: 220px;
}

/* the draggable elements all have data-name= ; I want them to stand out */
span[data-name] {
  cursor: col-resize;
  font-weight: bold;
  border-bottom: 2px dotted #a44;
}
.draggable {
  cursor: move;
}

svg { pointer-events: none; }
p { text-indent: 1em; }
p + h2, div + h2 { margin-top: 2em; }
h1 { font-size: 1.3em; }
h2 { font-size: 1.1em; }
code { white-space: pre-wrap; }
g.grid rect { fill: hsl(0,10%,85%); stroke: hsl(60,10%,95%); }
g.grid line { stroke: hsl(60,10%,95%); }
span[data-name] {
  display: inline-block;
  width: 3em;
  padding: 4px 6px;
  text-align: center;
  line-height: 1.5;
  background-color: hsla(60,50%,97%,0.8);
  box-shadow: 0 0 4px hsla(0,0%,0%,0.3);
  border-radius: 4px;
  border: none;
  transition: background-color 0.15s, box-shadow 0.15s;
}
span[data-name]:hover {
  box-shadow: 0 0 4px hsla(0,50%,50%,1.0);
}
span[data-name="size"] {
  width: 4em;
}
g.noise path {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}
g.zero line {
  fill: none;
  stroke: darkred;
  stroke-width: 1px;
}
